body{
	font-size: 14px;
	min-width: 1435px;
}
main{
	width: 70%;
	margin: 0 auto;
}
.left_content{
	clear: both;
	width: 60%;
	float: left;
	margin-top: 10px;
	border-style: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #dbdbdb;
	display: block;
	padding: 10px;
	margin-bottom: 50px;
}
table{
	padding: 10%;
	border-collapse: collapse;
	border: 0px solid #FFFFFF;
}
caption{
	font-size: 36px;
	padding-bottom: 10px;
}
tr{
	width: 100%;
	border-top: 1px solid #DDDDDD;
}
td{
	padding: 15px 0;
}
.left_content_co1{
	width: 15%;
	text-align: center;
}
.left_content_time{
	vertical-align: middle;
    font-size: 16px;
    color: #ed1c24;
    font-weight: 700;
}
.left_content_co2{
	width: 10%;
}
.left_content_co2 a{
	text-decoration: none;
}
.left_content_co2 a img{
	width: 100%;
}
.left_content_co3{
	width: 45%;
	padding-left: 15px;
	position: absolute;
	border: none;
}
.first{
	color: #ed1c24;
	font-size: 16px;
}
.second:hover{
	color: #888;
}
.left_content_nr a{
	text-decoration: none;
	color: #444;
}
.left_content_co4{
	width: 15%;
}
.left_content_jm{
	padding: 5px 10px;
	background-color: #229ffd;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: default;
}
.left_content_red{
	padding: 5px 10px;
	background-color: #ff4351;
	color: #FFFFFF;
	border-radius: 5px;
	cursor: default;
}
.left_content_co5{
	width: 15%;
}
