*{
	padding: 0;
	margin: 0;
}
header{
	width: 100%;
	background-color: #f0f3f5;
	margin-bottom:20px;
}
.nav_wrap{
	width: 70%;
	margin: 0 auto;
}
.nav_log{
	float: left;
	font-size: 1.5em;
	font-weight: 500;
	padding: 10px 20px 10px 0px;
}
.nav_log a{
	text-decoration: none;
	color: #1987cb;
}
.nav_search{
	padding: 10px;
	height: 34px;
}
#search_text{
	width: 40%;
	background-color: #fff;
	height: 30px;
	padding-left: 10px;
	text-align: left;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px; 
	border-style: none;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#search_style{
	width: 37px;
	height: 30px;
	background: url(../img/nav_mv_bg.png) no-repeat 0 -40px;
	border-style: none;
	font-size: 0;
	position: absolute;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.nav_category{
	clear: both;
	width: 70%;
	height: 40px;
	margin: 0 auto;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #e3ebec;
	background-color: #f0f3f5;
}
.nav_category ul{
	list-style: none;
	padding-top: 10px;
	font-size: 15px;
}
.nav_category ul li{
	margin-right: 1vh;
	display: inline-block;
}
.nav_category ul li a{
	text-decoration: none;
	color: #27a;
}
.nav_category ul li:hover{
	background-color: #666699;
}